* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

.logo {
  background: url("./images/logo_resized.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 9%;
  bottom: 3%;
  margin-left: 2%;
  text-indent: -9999px; /* This is for compulsory text to not display */
}

/* FREE DELIVERY WORLDWIDE */
.free-delivery {
  background-image: url("./images/freeDelivery.png");
  background-repeat: no-repeat;
  width: 100%;
  text-indent: -9999px;
}
.icon {
  float: none;
  content: "🚀";
}
/* ------------------------- */

.search-bar-div input {
  height: 40px;
  margin: 0.5rem;
  width: 30vw;
  padding: 0.8rem;
}

.search-button {
  margin: 1rem;
  padding: 0.8rem;
  text-align: center;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  background-color: #f9cf93;
  color: white;
}

.search-button:hover {
  filter: brightness(110%);
}

.api-results-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: auto;
}

.book-wrapper {
  color: black;
  text-align: center;
  margin: 1rem 0;
  background-color: whitesmoke;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.book-title {
  font-weight: bold;
  margin-top: 1rem;
}

.material-icons-outlined {
  margin: 5px;
}

.principal-wrapper {
  background: linear-gradient(to bottom, #f9cf93, white);
  width: 100vw;
  height: 100vh;
  display: flex;

  /* Para centrar un div en medio de la página */
  align-items: center;
  justify-content: center;
}

.footer-links {
  background-color: #dbd0c0;
  height: 5vh;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
}

/* SIGN UP */

.footer-sign-up {
  background-color: white;
}

.sign-up-text {
  display: inline-flex;
  color: #999;
}

.newslatter-section .sign-up-text img {
  width: 3rem;
}

.sign-up-text p {
  margin: 0;
  padding: 2rem;
}

.newslatter-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 0 0.2rem 0;
  border-top: solid 2px #f0f0f0;
}

.newslatter-form {
  display: flex;
  align-items: flex-end;
}

.form-group {
  display: inline-flex;
}

.form-group input {
  height: 2.5rem;
  margin: 0.5rem;
}

.form-group button {
  height: 2.5rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
  border: 0;
  cursor: pointer;
  background-color: #f9cf93;
  color: white;
}

.form-group button:hover {
  filter: brightness(110%);
}

.footer-social-wrap {
  color: #999;
  display: block;
  text-align: center;
  padding: 1rem;
  background: white;
  border-top: solid 2px #f0f0f0;
}

.footer-social-wrap ul {
  display: block;
  text-align: center;
}

a:link,
a:hover {
  text-decoration: none;
}

.footer-social-wrap li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 1rem 1.5rem 0;
  font-size: 1.4rem;
}

.footer-social-wrap i {
  color: #999;
}
/* END OF SIGN UP */

.div-content-wrap {
  min-height: calc(100vh - 15vh);
}

.book-detail-review input {
  padding: 4rem;
  margin-top: 1rem;
  text-align: start;
  width: 40vw;
}

.book-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dbd0c0;
}

.book-detail-infoDisplay,
.book-detail-review,
.book-detail-rating {
  color: black;
  text-align: center;
  margin: 0.5rem 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 50vw;
  border-radius: 25px;
}

.book-detail-rating {
  margin-bottom: 1.5rem;
}

.book-detail-infoDisplay {
  margin-top: 1.5rem;
}

.description {
  overflow: hidden;
  line-height: 1em;
  height: 3em;
}

.show-more a {
  color: grey;
}

.show-more a:hover {
  color: #dbd0c0;
}
